*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --color-primary: #2d98f0ef;
    --color-primary-variant: rgba(102, 0, 255, 0.2);
    --color-white: #fff;
    --color-light: #f5f5f5;
    --color-black: #0f0f1b;
    --color-dark: #4b4a53;
    --container-width-lg: 82%;
    --container-width-md: 90%;
    --container-width-sm: 92%;
}
html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: var(--color-dark);
    line-height: 1.7;
}

h1,h2,h3,h4,h5{
    color: var(--color-black);
}

h1{
    font-size: 4.4rem;
    line-height: 1.1;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1.4rem;
}
/* pragraph common class */
.lead {
    width: 63%;
    line-height: 1.5;
    margin: 0 auto 3rem;
}

img{
    width: 100%;
    object-fit: cover;
}

.container {
    width: var(--container-width-lg);
    max-width: 1800px;
    margin: 0 auto;
}

section {
    padding: 6rem 0;
    margin: 5rem 0;
}

.btn {
    background-color: var(--color-black);
    color: var(--color-white);
    display: inline-block;
    width: fit-content;
    padding: 0.8rem 1.6rem;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 400ms ease;
}

.btn:hover {
    background: var(--color-light);
    color: var(--color-black);
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

.btn-primary:hover {
    border-color: var(--color-primary);
    background: var(--color-light);
    color: var(--color-primary);
}

.btn-lg {
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
}

.btn-md {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
/* ================== NavBar ======================== */

nav {
    width:  100vw;
    height: 5rem;
    display: grid;
    place-items: center;
    position: fixed;
    z-index: 2;
    background: var(--color-white);
}

nav a {
    color: var(--color-black);
    font-size: 0.9rem;
    transition: all 400ms ease;
}

nav a:hover {
    color: var(--color-primary);
}

.nav__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav button{
    display: none;
}

.nav__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
}
#moon-icon{
   width: 10%;
   cursor: pointer; 
}
.dark-theme {
    --primary-color:var(--color-white);
    --secondary-color:var(var(--color-black));
}

/* ====================== Header ==================== */
#about{
    padding-top: 6rem;
}
header {
    height: calc(100% - 5rem);
    position: relative;
    top: 5rem;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.header__container {
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__left h3 {
    color: var(--color-primary);
    margin-bottom: 0.6rem;
}

.header__left p {
    margin: 1.2rem 0 2rem;
}

.header__right{
    position: relative;
    height: 100%;
}

.header__socials {
    position: absolute;
    right: 0;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.2rem;
}

.header__socials a {
    color:  var(--color-white);
}

.header__socials a:hover {
    color: var(--color-black);
}

.header__right-bg {
    /* width: 70rem; */
    /* height: 70rem; */
    width: 40rem;
    height: 35rem;
    border-radius: 50%;
    background:#c1feff;
    position: absolute;
    /* right: -30rem; */
    /* bottom: -30rem; */
    bottom: -3rem;
    left: 5.7rem;
}

.header__image{
    width: 40rem;
    position: absolute;
    bottom: -1rem;
    z-index: 1;
    text-align: end;
}

.header__image img{
    /* width: 80%; */
    width: 70%;
}
/* =================== End Header ===============*/

/* =================== Start skills ===============*/

.skills__container{
    text-align: center;
}

.skills__header{
    color:#e2c430;
    margin: 2rem 2rem;
}
#skills{
    padding-bottom: 0%;
    margin-bottom: 0%;
}
.all__skills{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    row-gap: 2rem;
    justify-items: center;
    align-items: center;
}

.all__skills > img {
    width: 60%;
}

#html-logo{
    width: 35%;
}

#js-logo{
    width: 43%;
}
#tools{
    margin-top:0px ;
    margin-bottom:-200px;
}
#tools img{
    width: 40%;
}
/* =================== End skills ===============*/


/* =================== start project section=========== */

.project__container{
    text-align: center;
    /* margin-top: 10rem; */
}

.project__header{
    color: var(--color-primary);
    margin:2rem 2rem;
}

.project__block{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 30px 0;
}

    
.project__tech{

    display: inline-flex;
    /* justify-content: space-between; */
    font-weight: bold;
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 1rem;
    gap: 10px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px; 
}
.project__tech i{
    font-size: 30px;
    margin: 0 5px 0 5px;
}

.project__tech i:nth-child(1){
    background: #e96228;
}
.project__tech i:nth-child(2){
    background: #469BD5;
}
.project__tech i:nth-child(3){
    background: #e2c430;
}

.project__right{
    padding: 2rem;  
}

.project__buttons{
    margin-top: 1rem;
}

.project__block {
    margin-top: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cms__logo{
    width: 70%;
}
#more-project{
margin-top:50px;
}

/* ===================End project section============== */


/* =================== Start git calender section ============ */
#git_calender {
    padding: 0; 
}
.gitcalender__container{
    text-align: center;
}

.stats {
    margin: 2rem 0;
}
.stats p {
    margin: 2rem 0;
}
.stats__img {
    width: 50%;
}

/* =================== End git calender section ============== */


/* ===================Start contact section============== */
#contact {
    background: var(--color-primary);
    color: var(--color-white);
    margin: 0;
}

.contact__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    font-size: 0.9rem;
}

.contact__container h2 {
    color: var(--color-white);
}

.contact__container p {
    margin: 1rem 0 1rem;
}

.footer__socials {
    display: flex;
    font-size: 30px;
    gap: 10px;
}

.footer__socials i{
    color: #f5f5f5;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

form input,
textarea {
    padding: 1rem;
}

#phone__li{
    font-size: 20px;
    padding-top: 8px;
}

/* ===================End contact section============== */


/* ************************************************************************************************************ */
/* =================== Media Query ================ */

/* ==== Tablet === */
@media screen and (max-width:1024px) {
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 1.6rem;
    }

    .container {
        width: var(--container-width-md);
    }

    .lead {
        margin-top: 0.6rem;
    }

    /* ============ Navbar ============= */
    nav {
        background: var(--color-black);
    }

    .nav__container {
        position: relative;
        width: 100vw;
    }

    .nav__logo h3{
        color: var(--color-white);
        margin: 2rem;
    }

    .nav__menu{
        position: fixed;
        top: 5rem;
        right: 0;
        height: fit-content;
        width: 18rem;
        flex-direction: column;
        gap: 0;
        z-index: 3;
        display: none;
        perspective: 400px;
    }

   
    .nav__menu li {
        width: 100%;
        height: 5.4rem;
        animation: flipNavItem 200ms 0s ease forwards;
        transform-origin: top;
    }
   
    .nav__menu li:nth-child(2) {
        animation-delay: 100ms;
    }
    .nav__menu li:nth-child(3) {
        animation-delay: 200ms;
    }
    .nav__menu li:nth-child(4) {
        animation-delay: 300ms;
    }
    .nav__menu li:nth-child(5) {
        animation-delay: 400ms;
    }
    @keyframes flipNavItem {
        from {
            transform: rotateX(90deg);
            opacity: 0;
        }

        to {
            transform: rotateX(0deg);
        }
    }
    .nav__menu li a {
        background: var(--color-primary);
        box-shadow: -2rem 2rem 2rem rgba(0, 0, 0, 0.2);
        color: var(--color-white);
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav__menu li a:hover {
        background: var(--color-light);
        color: var(--color-black);
    }

    nav button {
        display: inline-block;
        margin-right: 1.4rem;
        background: transparent;
        color: var(--color-white);
        cursor: pointer;
        font-size: 2.4rem;
    }

    nav button#close-menu-btn {
        display: none;
    }


/* ==================== Header (tablet) ====================== */
#about{
    padding-top: 3rem;
} 
header {
        height: 100%;
        padding: 11rem 0 0;
        top: 0;
    }

    .header__container {
        align-items: flex-end;
        height: 100%;
    }

    .header__left {
        /* margin-bottom: 6rem; */
    }

    .header__right {
        align-items: flex-end;
        height: 100%;
    }

    .header__right-bg {
        width: 28rem;
        height: 28rem;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        left: auto;
    }

    .header__image {
        bottom: 10rem;
        width: 100%;
        text-align: center;
    }

    .header__socials {
        bottom: 0;
    }

    .header__socials a {
        color: var(--color-primary);
    }

    #projects {
        padding: 0;
    }
}

/* ===============Media Queries (mobile)=========== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section {
        padding: 4rem 0;
        margin: 4rem 0;
    }

    h1{
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }

    .btn-lg {
        font-size:  1rem;
    }

    .lead {
        width: var(--container-width-sm);
    }


    /* ============== NavBar ================== */

    nav button {
        margin: 0;
        font-size: 1.9rem;
    }

    .nav__logo h3 {
        margin-left: 4px;
    }

    /* ============== Header ================== */

    #about{
        padding-top: 0;
    }
    header {
        height: 100%;
        padding: 0;
        top: 5rem;
    }
      .header__container {
         grid-template-columns: 1fr;
        margin-top: 4.4rem;
        gap : 0;
    }

 
    .header__left {
        text-align: center;
        /* margin-bottom: 2rem; */
    }

    .header__left p {
        margin: 0.5rem 0 1.2rem;
    }

    .header__image{
        position: relative;
        top: 1rem;
        text-align: center;
    }

    .header__right-bg {
        /* bottom: 36%; */
        width: 18rem;
        height: 18rem;
        left: -8rem;
    }
    .header__socials {
        position: absolute;
        z-index: 1;
        bottom: 9rem;
        gap: 0.5rem;
    }
    .header__socials a {
        color: var(--color-white);
    } 
    #gettouch{
        display:none;
    }

/* ====================== Skills ================ */
    .all__skills{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        row-gap: 2rem;
        justify-items: center;
        align-items: center;
    }
/* ====================== project================ */
/* #projects {
    padding-top: 4rem;
    margin-top: 4rem;
} */

.project__block{
    grid-template-columns: 1fr;
    
}

/* ======================= Git calender =========== */


#git_calender{
    padding: 0px;
}

/* ===================== contact ================ */

.contact__container {
    grid-template-columns: 1fr;
    gap: 1rem;
}

}